.content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
   color: rgb(45, 238, 245);
}
 
.banner{
    height: 80vh;
    width: 100% !important;
    background: rgb(26, 25, 25);
}
.static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
.dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }

  
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(26, 25, 25);
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }





.dynamic-txts2{
    display: none;
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts2 li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts2 li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts2 li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% );
    }
    100%{
      left: 0;
    }
  }
  @media only screen and (max-width:968px) {
    .static-txt{
        color: #fff;
        font-size: 40px;
        font-weight: 400;
      }
    .dynamic-txts{
        display: none;
    }
    .dynamic-txts2{
        display: block;
    }
  }