.counts{

    margin-top: 30px;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .count{
   
    margin-top: 20px;
    
      border-radius: 10px;
  }
  .count h6{
        color: red;
  }
 
  @media only screen and (max-width:768px) {
      .counts{
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 1fr 1fr;
      }
  }